<div class="container-fluid rounded">
  <div class="row p-0 m-0 ">
    <div class="col-md-4 p-0 m-0 ">
      <div class="social-cont">
        <div class="social">
          <h3>Let's be Social </h3>
          <div class="btn-cont">
            <a href="">
              <button class="btn-social">
                <i class='bx bxl-github'></i>
              </button>
            </a>
    
            <a href="">
              <button class="btn-social">
             <i class='bx bxl-linkedin-square' ></i>
              </button>
            </a>
            <a href="https://github.com/Mdkarimul">
              <button class="btn-social">
                <i class='bx bxl-twitter'></i>
              </button>
            </a>
          </div>
          <hr />
        </div>

        <div class="img-cont">
          <img
            src="../../../assets/hero.png"
            alt=""
          />
        </div>
        <div class="contact-info">
          <div class="email">
            <span>
              <i class='bx bxl-gmail' ></i>
            </span>
            <span>&nbsp;7mdkarimulgmail.com</span>
          </div>

          <div class="mobile">
            <span>
              <i class='bx bxs-phone'></i>
            </span>
            <span>+91&nbsp; 9749959045</span>
          </div>

          <div class="web">
            <span>
              <i class='bx bx-world'></i>
            </span>
            <span>&nbsp;&nbsp;www.https://karimul.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 p-0 m-0">
      <div class="form-cont">
        <form action="">
          <h3 class="title">Let's work together</h3>
          <span class="sub-title"
            >Get in touch and let me know how I can help you.</span
          >
          <div class="form-group">
            <span>Enter you name*</span>
            <input type="text" placeholder="Name" />
          </div>

          <div class="form-group">
            <span>Enter your mobile*</span>
            <input type="text" placeholder="Mobile" />
          </div>

          <div class="form-group">
            <span>Enter you email*</span>
            <input type="text" placeholder="Email" />
          </div>

          <div class="form-group">
            <span>Write your thought*</span>
            <textarea
              name=""
              id=""
              rows="10"
              placeholder="Write something ?"
            ></textarea>
          </div>

          <div class="form-group">
            <button class="form-btn" type="button">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
