<div class="container-fluid client-feed-cont">

    <div class="testimonial-heading">
        <h4 class="testimonial-subtitle">Message us</h4>
        <h2 class="title">What our <span style="color: #9318eb;">customer</span> saying about us</h2>
    </div>




    <owl-carousel-o class="row feed" [options]="customOptions">
      <ng-template class="col-md-6 bg-primary" carouselSlide>
            <div class="message-cont">
                <div class="img-cont"></div>
                <div class="message">
                    <p>
                        <q>
                            I recently purchased XYZ Electronics' latest gadget and I'm extremely satisfied with its performance! The product arrived on time, and the quality is top-notch. The customer service team was also very helpful in addressing my queries before I made the purchase. I would highly recommend XYZ Electronics to anyone looking for reliable and innovative tech products
                        </q>
                    </p>
                    <span class="title">
                        ceo of mohindea 
                    </span>
                    <span class="name">Mr narayan</span>
               
                </div>
            </div>
      </ng-template>  
      <ng-template class="col-md-6" carouselSlide>
            <div class="message-cont">
                <div class="img-cont"></div>
                <div class="message">
                    <p>
                        <q>
                            I recently purchased XYZ Electronics' latest gadget and I'm extremely satisfied with its performance! The product arrived on time, and the quality is top-notch. The customer service team was also very helpful in addressing my queries before I made the purchase. I would highly recommend XYZ Electronics to anyone looking for reliable and innovative tech products
                        </q>
                    </p>
                    <span class="title">
                        ceo of mohindea 
                    </span>
                    <span class="name">Mr narayan</span>
                </div>
            </div>
      </ng-template>  

      <ng-template class="col-md-6 bg-primary" carouselSlide>
        <div class="message-cont">
            <div class="img-cont"></div>
            <div class="message">
                <p>
                    <q>
                        I recently purchased XYZ Electronics' latest gadget and I'm extremely satisfied with its performance! The product arrived on time, and the quality is top-notch. The customer service team was also very helpful in addressing my queries before I made the purchase. I would highly recommend XYZ Electronics to anyone looking for reliable and innovative tech products
                    </q>
                </p>
                <span class="title">
                    ceo of mohindea 
                </span>
                <span class="name">Mr narayan</span>
           
            </div>
        </div>
  </ng-template>  
  <ng-template class="col-md-6" carouselSlide>
        <div class="message-cont">
            <div class="img-cont"></div>
            <div class="message">
                <p>
                    <q>
                        I recently purchased XYZ Electronics' latest gadget and I'm extremely satisfied with its performance! The product arrived on time, and the quality is top-notch. The customer service team was also very helpful in addressing my queries before I made the purchase. I would highly recommend XYZ Electronics to anyone looking for reliable and innovative tech products
                    </q>
                </p>
                <span class="title">
                    ceo of mohindea 
                </span>
                <span class="name">Mr narayan</span>
            </div>
        </div>
  </ng-template> 
    
    </owl-carousel-o>








  
  
  
   
</div>


