<div>
    <div class="project-cont">
        <p class="d-heading">projects list </p>
        <div class="project">
            <span class="material-symbols-outlined">chevron_left</span>
           <div class="slide-cont">
         
            <owl-carousel-o [options]="customOptions">
                <ng-template  carouselSlide><div class="item-1">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn  custom-btn"><i class='bx bxl-github icon-design'></i></a>
                            <a href="#" class="card-link btn custom-btn"> <i class='bx bx-link-alt icon-design'></i></a>
                        </div>
                      </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="item-2">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn">Card link</a>
                            <a href="#" class="card-link btn">Another link</a>
                        </div>
                      </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="item-3">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn">Card link</a>
                            <a href="#" class="card-link btn">Another link</a>
                        </div>
                      </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="item-4">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn">Card link</a>
                            <a href="#" class="card-link btn">Another link</a>
                        </div>
                      </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="item-5">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn">Card link</a>
                            <a href="#" class="card-link btn">Another link</a>
                        </div>
                      </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="item-6">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn">Card link</a>
                            <a href="#" class="card-link btn">Another link</a>
                        </div>
                      </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="item-7">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn">Card link</a>
                            <a href="#" class="card-link btn">Another link</a>
                        </div>
                      </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="item-8">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn">Card link</a>
                            <a href="#" class="card-link btn">Another link</a>
                        </div>
                      </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="item-9">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Erm and crm software</p>
                            <span class="card-subtitle mb-2 text-muted">Agnular full statck </span>
                        </div>
                        <div class="card-body">
                        <img src="../../../../../assets/Angular_project_one.PNG" class="card-img" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link btn">Card link</a>
                            <a href="#" class="card-link btn">Another link</a>
                        </div>
                      </div>
                </div></ng-template>  
            </owl-carousel-o>
           
           
           </div>
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
    </div>

 



</div>