<div class="side-nav">
    <ul>
      <li>
        <span class="material-symbols-outlined"> apps </span
        ><a routerLink="dashboard">Dashboard</a>
      </li>
      <li>
        <span class="material-symbols-outlined"> filter_list </span
        ><a routerLink="create-project">Create projects</a>
      </li>
      <li>
        <span class="material-symbols-outlined"> stacks </span
        ><a href="">About</a>
      </li>
      <li>
        <span class="material-symbols-outlined"> sign_language </span
        ><a href="">Services</a>
      </li>
      <li>
        <span class="material-symbols-outlined"> partner_exchange </span
        ><a href="">Skills</a>
      </li>
      <li>
        <span class="material-symbols-outlined"> crowdsource </span
        ><a href="">Proejcts</a>
      </li>
      <li>
        <span class="material-symbols-outlined"> notification_important </span
        ><a href="">Help</a>
      </li>
    </ul>
    <button class="logout" (click)="signOut()">
      <span class="material-symbols-outlined">logout</span>logout
    </button>
  </div>