

<div class="container-fluid services-cont" id="services">
  <div class="service-heading">
    <!-- <div class="subtitle-cont">
      <h4 class="sub-title">
        <span class="one">s</span>
        <span class="two">e</span>
        <span class="three">r</span>
        <span class="four">v</span>
        <span class="five">i</span>
        <span class="six">c</span>
        <span class="seven">e</span>
        <span class="seven">s</span>
        
      </h4>
    </div> -->
    <!-- <h4 class="sub-title">services<span style="font-size: 24px; margin: 0px 5px;"></span></h4> -->
    <h2 class="title">services</h2>
</div>
  <div class="row">


    <div class="col-md-4 mb-2">
      <div class="front-end">
        <div class="img-cont">
        <img src="../../../assets/responsive design.png" width="100%" alt="">
        </div>
        <div class="text-cont">
         <h3 class="heading">responsive front-end</h3>
         <p class="paragraph">It is a long established fact that a reader will be distracted by the readable </p>
         <button class="btn">
          <span class="material-symbols-outlined">
              trending_flat
              </span>
         </button>
      </div>
      </div>
    </div>

    <div class="col-md-4 mb-2">
      <div class="back-end">
        <div class="img-cont">
          <img src="../../../assets/back-end-rest-api.png" width="100%" alt="">
        </div>
        <div class="text-cont">
         <h3 class="heading">back-end rest api</h3>
         <p class="paragraph">It is a long established fact that a reader will be distracted by the readable </p>
         <button class="btn">
          <span class="material-symbols-outlined">
              trending_flat
              </span>
         </button>
      </div>
    </div>
    </div>


    <div class="col-md-4 mb-2">
      <div class="devops">
        <div class="img-cont">
          <img src="../../../assets/cloud-development.png" width="70%" alt="">
        </div>
        <div class="text-cont">
         <h3 class="heading">Cloude deployment</h3>
         <p class="paragraph">It is a long established fact that a reader will be distracted by the readable </p>
         <button class="btn">
          <span class="material-symbols-outlined">
              trending_flat
              </span>
         </button>
      </div>
    </div>

    </div>
  </div>
</div>

