
<div class="container-fluid main">
<h2 class="heading text-uppercase fs-2 fw-bold">My Open-Source Projects</h2>
<p class="paragraph  my-4">Discover my most popular open-source projects on Github.</p>

<div class="open-sources">
    <div class="row p-0 m-0 g-0">
     <div class="col-md-4">
       
        <div class="open-source">
            <div class="header">
                <h3><span>leerob/</span><span>leerob.io</span></h3>
                <p>My portfolio built with Next.js Tailwind Css, PlanelScale ,and Vercel</p>
            </div>
            <div class="footer">
                <h5>Type script</h5>
                <h5><i class='bx bx-git-branch'></i><span>1245</span></h5>
                <h5><i class='bx bx-star'></i><span>56</span></h5>
            </div>
        </div>
       
     </div>
     <div class="col-md-4">
        
        <div class="open-source">
            <div class="header">
                <h3><span>leerob/</span><span>leerob.io</span></h3>
                <p>My portfolio built with Next.js Tailwind Css, PlanelScale ,and Vercel</p>
            </div>
            <div class="footer">
                <h5>Type script</h5>
                <h5><i class='bx bx-git-branch'></i><span>1245</span></h5>
                <h5><i class='bx bx-star'></i><span>56</span></h5>
            </div>
        </div>
        </div>
    
    
     <div class="col-md-4">
        <div class="open-source">
            <div class="header">
                <h3><span>leerob/</span><span>leerob.io</span></h3>
                <p>My portfolio built with Next.js Tailwind Css, PlanelScale ,and Vercel</p>
            </div>
            <div class="footer">
                <h5>Type script</h5>
                <h5><i class='bx bx-git-branch'></i><span>1245</span></h5>
                <h5><i class='bx bx-star'></i><span>56</span></h5>
            </div>
        </div>
     </div>
    </div>
</div>


<h2 class="heading fs-2 fw-bold text-uppercase">Latest Projects</h2>
<p class="paragraph  my-4">I have transformed ideas into remarkable digital products.</p>






@for(project of projects; track project.title) {

<div class="project">
    <div class="row p-0 m-0">
     <div class="col-md-6 position-relative" style="overflow: hidden;">
        <img src="{{project.img}}" alt="">
         <div class="link-group">
            <a href="{{project.liveUrl}}" target="_blank">
                <i class="bx bx-link"></i>
            </a>
            <a href="{{project.gitUrl}}" target="_blank">
                <i class="bx bx-git-merge"></i>
            </a>
         </div>
     </div>
     <div class="col-md-6">
        <h2 class="heading fs-3 my-2 fw-bold ">{{project.title}}</h2>
        <p class="paragraph my-2">{{project.description}}</p>
        <div class="technologies">
            <h5 class="my-3">Technologies</h5>
            <div class="tech-tools">
                @for(tech of project.technologies; track tech) {
                    <span>{{tech}}</span>
                }
            </div>
        </div>
        <div class="status">
            <div class="duration">
           <h2 >Duration</h2>
           <span>3 Months</span>
            </div>
            <div class="role">
            <h2>
                Role
            </h2>
            <span>Full stack developer</span>
            </div>
        </div>
     </div>
    </div>
</div>
}








       

    </div>

