.navbar {
  background-image: linear-gradient(to right, var(--bg1), var(--bg2));
  padding: 15px 0px;
  box-shadow: 1px 1px 3px 1px var(--bg2);
}
.nav-link {
  color: #ffffff;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase !important;
}
.navbar-brand {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.btn-download {
  color: var(--color1);
  font-weight: 600;
  font-size: 12px;
  background-image: linear-gradient(to right, var(--bg1), var(--bg2));
  padding: 12px 10px;
  border: 1px solid var(--bg1);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn-download i {
  font-size: 1rem;
  margin: 0px 10px;
}


.navbar-toggler:focus {
  box-shadow: none;
}
