<div class="landing-page">
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <div class="nav">
        <div class="home"><a routerLink="" routerLinkActive="active"><i class='bx bx-home-alt'></i></a></div>
        <div class="about"><a routerLink="/about" routerLinkActive="active"><i class='bx bx-user'></i></a></div>
        <div class="portfolio"><a routerLink="/portfolio" routerLinkActive="active"><i class='bx bxs-contact'></i></a></div>
        <div class="contact"><a routerLink="/contact" routerLinkActive="active"><i class='bx bx-award'></i></a></div>
    </div>
  
</div>