<div class="landing-page" style="border: 1px solid red">
  <div class="main" #scrollableElement>
    <router-outlet></router-outlet>
  </div>
  <div class="nav">
    <div class="home">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        ><i class="bx bx-home-alt"></i
      ></a>
    </div>
    <div class="about">
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><i class="bx bx-user"></i
      ></a>
    </div>
    <div class="services">
      <a
        routerLink="/services"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><i class="bx bx-user"></i
      ></a>
    </div>
    <div class="portfolio">
      <a
        routerLink="/portfolio"
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        ><i class="bx bxs-contact"></i
      ></a>
    </div>
    <div class="contact">
      <a
        routerLink="/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><i class="bx bx-award"></i
      ></a>
    </div>
  </div>
</div>
