<div class="home">
    <div class="profile d-flex justify-content-center align-items-center">
      
        <img src="../../../assets/hero.png" class="img-fluid" alt="">
        <h1 class="name">Md karimul islam</h1>
    
    </div>
    <div class="container px-5">
        <div class="row bg-dark">
            <div class="col-md-6 d-flex justify-content-around align-items-center ">
                <div class="experience">
                    <h3>2+</h3>
                    <p>Years of experience</p>
                </div>

                <div class="project">
                    <h3>10+</h3>
                    <p>project completed</p>
                </div>
         
            </div>
            <div class="col-md-6 d-flex justify-content-around  align-items-center  ">
                <div class="libraries">
                    <h3>12+</h3>
                    <p>openSource library</p>
                </div>

                <div class="client">
                    <h3>15+</h3>
                    <p>Happy clients</p>
                </div>
          
            </div>
          
        </div>
    </div>

    <div class="container headings text-center d-flex justify-content-center align-items-center flex-column ">
        <h1 class="">
            Full-Stack Developer
    
        </h1>
        <p class="">Sometimes five Imprimaturs are seen together dialogue-wise in the piazza of one title-page, complimenting and ducking each to other with their shaven reverences, whether the author, who stands by in perplexity at the foot of his epistle, shall to the press or to the sponge.</p>

        <button>download resume</button>
    </div>



</div>