<div>
 
    <div class="header">
        <span class="logo">Admin</span>
        <div  class="user-profile">
        <button class="switch"><span class="material-symbols-outlined">
          nightlight
          </span></button>
          <div class="avator">

          </div>
        </div>
    </div>
  </div>

  <div class="main">
    <div class="side-nav">
<ul>
  <li><span class="material-symbols-outlined">
    apps
    </span><a href="">Dashboard</a></li>
  <li><span class="material-symbols-outlined">
    filter_list
    </span><a href="">Header</a></li>
  <li><span class="material-symbols-outlined">
    stacks
    </span><a href="">About</a></li>
  <li><span class="material-symbols-outlined">
    sign_language
    </span><a href="">Services</a></li>
  <li><span class="material-symbols-outlined">
    partner_exchange
    </span><a href="">Skills</a></li>
  <li><span class="material-symbols-outlined">
    crowdsource
    </span><a href="">Proejcts</a></li>
  <li><span class="material-symbols-outlined">
    notification_important
    </span><a href="">Help</a></li>
</ul>


<button class="logout"><span class="material-symbols-outlined">
  logout
  </span>logout</button>
    </div>
    <div class="side-nav-content">

    </div>



</div>