
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!





/* You can add global styles to this file, and also import other style files */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
scroll-behavior: smooth;
}

// FRONT-END CLIENT CSS TEMPLATES
:root{
--color1:#FFFF;
--color2:#afa5a5;
--color3:#000;
--color3:#005;
--bg1:#bc11df;
--bg2:#8204ca;

}

// ADMIN TEMPLATES CSS
:root{
  --a-color1:#FFFF;
  --a-color2:#666666;
  --a-color3:#000;
  --a-color3:#005;
  --a-bg1:#bc11df;
  --a-bg2:#8204ca;
  --a-warn-color : #d46161;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
