
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!





/* You can add global styles to this file, and also import other style files */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
scroll-behavior: smooth;
}

// FRONT-END CLIENT CSS TEMPLATES
:root{
--color1:#FFFF;
--color2:#afa5a5;
--color3:#000;
--color3:#005;
--bg1:#bc11df;
--bg2:#8204ca;

}

// ADMIN TEMPLATES CSS
:root{
  --a-color1:#FFFF;
  --a-color2:#413d3d;
  --a-color3:#000;
  --a-color3:#005;
  --a-bg1:#bc11df;
  --a-bg2:#8204ca;
  --a-bg3:#0c0b0b;
  --a-warn-color : #d46161;
  }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// design scrollbar
::-webkit-scrollbar{
  width:10px;
  background-color:var(--color2);
  border-radius: 5px;
}
::-webkit-scrollbar-button{

}
::-webkit-scrollbar-corner{

}
::-webkit-scrollbar-track{

}
::-webkit-scrollbar-thumb{
border-radius: 5px;
background-color: #000;
}
::-webkit-scrollbar-track-piece{
}

.cat-title {
  color:var(--color3);
  text-transform:uppercase;
  font-size: 1rem;
  position: relative;
}


.icon-design{
  font-size: 20px;
}
.custom-btn{
  border:1px solid var(--a-color2)!important;
}
.custom-bg-one{
  background-color:var(--a-bg3);
  border-radius: 5px;
  padding: 20px;
}
.d-heading{
  font-size: 18px;
  color: var(--a-color2);
  font-weight: 500;
  text-transform: capitalize;
}

.form-control-custom{
  width: 100%;
  height: 50px;
  border: 1px solid var(--a-color3);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--a-color1);
  transition: all 0.2s;
}
.custom-text-area{
  width: 100%;
  border: 1px solid var(--a-color3);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--a-color1);
  transition: all 0.2s;
}
.form-control-custom:focus,.custom-text-area:focus{
  outline:none;
  box-shadow: 0px 0px  2px 2px  var(--a-color2);
  
}


