.hero-cont{
    float: left;
    width:100%;
    height:800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005;
    background-image: linear-gradient(to right ,var(--bg1), var(--bg2));
    // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='0.5' stroke='hsla(259, 8%, 85%, 0.59)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-66,0)' fill='url(%23a)'/></svg>");
    
 }
.hero-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15rem 10rem;
   
}

.hero-content .sub-title{
    color:white;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    margin-bottom: 15px;
}


.hero-content .title{
    color:white;
    text-transform:uppercase;
    font-size:3rem;
    // background: -webkit-linear-gradient( rgba(0, 0, 85, 0.349), var(--color2));
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-align: left;
    font-weight:500;
    text-shadow: 1px 1px 1px var(--bg1);
    font-family: 'Poppins', sans-serif;
}
.hero-content .paragraph{
    color:var(--color1);
    width: 80%;
    margin-bottom: 35px;
     letter-spacing: 1px;
    text-transform: capitalize;
    // word-spacing:1px;
    text-align:justify;
    font-size: 1rem;
}
.hero-content .btn-cont{
    width:fit-content;
    height:auto;
    display: flex;
    justify-content:flex-start;
    // background-color:#9318eb48;
    border-radius: 5px;
}
.hero-content .btn-cont .btn-social{
    margin:18px 20px;
    cursor: pointer;
    outline-offset: 4px;
    outline: 1px solid #aca9a9;
    border-radius: 5px;
    padding:6px;
    border: none;

}
.btn-social:hover{
    animation: zoom 300ms ease-in 0s 1 both;
}
@keyframes zoom {
    0%{ transform: scale(1); }
    100%{transform: scale(1.5);}
}

@media(max-width:1000px){
    .hero-content .paragraph{
        width: 100%;
        font-size:0.9rem;
    }

    .hero-content{
        padding:10rem 1rem; 
    }
    .hero-content .title span{
        font-size:1.5rem;
    }
}